<link rel="stylesheet" href="/css/header.css" />

<header id="navBar">
  <a id="logo" href="/"><img src="/images/logo.png" /></a>
  <ul class="navBarItems">
    <%if(locals.user){%>
    <li>
      <a href="/users/profile"><%=user.name%></a>
    </li>
    <li>
      <a href="/auth/sign-out">SignOut</a>
    </li>
    <%}else{%>
    <li>
      <a href="/auth/sign-in">SignIn</a>
    </li>
    <li>
      <a href="/auth/sign-up">SignUp</a>
    </li>
    <%}%>
  </ul>
</header>
